
  <xi:include href="_new_form.html" />
  <xi:include href="../editor/_nav.html" />
  
{% block page_title %}Create a data source{% endblock %}
  
{% block content %}
  <div>
    ${editor_nav('index')}    
    <div class="row">
      <div class="span4">&nbsp;</div>
      <div class="span12">
        <h3>Create a data source</h3>
        <form class="basic" action="${h.url(controller='source', action='create',
          dataset=c.dataset.name)}" method="POST">
          ${new_form()}
          <div class="actions">
            <input value="Create" class="btn success" type="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}




